body {
    background-color: #6480FF;color: #FFFF00;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section { 
    display: block; 
    float: left;
    margin-bottom: 4px;
    padding-bottom: 4px;
}
header {
    display: block;
    text-align: right;
    font-size: 12px;
    line-height: 140%;
    float: right;
}
.ender{
     margin: 2px; border-top: 2px;border-bottom: 2px;padding-top: 4px;padding-bottom: 4px;
     text-align: center;
     text-decoration: solid;font-weight: 100; 
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
      
}
.inicial {
    font-size: 14px;margin-top: 0px;margin-bottom: 0px;margin-left: 4px;margin-right: 4px;
    padding-left: 4px;padding-right: 4px;
    background-color: #FFEE66;display: inline-block;
    width: 100px;
    text-align: center; vertical-align: bottom;
    
}
.lentes {
    font-size: 14px;margin-top: 0px;margin-bottom: 0px;margin-left: 4px;margin-right: 4px;
    padding-left: 4px;padding-right: 4px;
    background-color: #FFEE66;display: inline-block;
    width: 100px;text-align: center; vertical-align: bottom;
}
.armacoes {
    font-size: 14px;margin-top: 0px;margin-bottom: 0px;margin-left: 4px;margin-right: 4px;
    padding-left: 4px;padding-right: 4px;
    background-color: #FFEE66;display: inline-block;
    width: 100px;text-align: center;
     vertical-align: bottom;
}
.compras {
    font-size: 14px; margin-top: 0px; margin-bottom: 0px; margin-left: 4px; margin-right: 4px;
    padding-left: 4px;padding-right: 4px;
    background-color: #FFEE66;display: inline-block;
    width: 100px;text-align: center; vertical-align: bottom;
}
.text1 {
    color: #FFEE66; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.listalentes {
    text-decoration-color: #3040BB; background-color: #EEDD99;
    padding: 10px 10px 10px 50px; margin: 30px 10px 10px 10px; 
    border: 2px; border-style: solid; border-color: #000055;
    line-height: 200%; list-style-type: upper-roman; display: block;
}
.inlista {
    color: #3040BB; line-height: 200%; list-style-type: none; display: block; 
}