body {
    background-color: #6480FF;color: #FFFF00;font-size: 16px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section { display: block; float: left;margin-bottom: 4px;padding-bottom: 4px;
}
header {display: block; text-align: right;font-size: 12px; line-height: 140%; float: right;
}